
.card {
    height: 100%;
    width: 50%;
  
    background: #ff8000;
    color: #121212;
  
    border-radius: 10px;
    margin-bottom: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
  
  .card strong {
    font-size: 18px;
    background: transparent;
  }

  .card small {
      background: transparent;
  }